body {
   background-color:black;
   font-family: 'Architects Daughter', cursive;
   display:flex;
   flex-direction:column;
   justify-content:start;
   align-items:center;
}
 
h2 {
   font: 36px solid white;
   font-family: 'Architects Daughter', cursive;
   color:white;
}

.top {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}
.topTitle h2 {
   font: 36px solid white;
   font-family: 'Architects Daughter', cursive;
   align-self: center;
   justify-self:center;
}

.title {
   display:flex;
   flex-direction: row;
   justify-content:space-around;
   align-items:center;
   width: 1280px;
   height:80px;
}

.title.topTitle {
   flex-direction:column;
}

#game {
   background-color:white;
   height:660px;
   max-width:100%;
}

#start {
   display:center;
   justify-content:center;
   align-items:center;
}

#credits {
   color:white;
   display:flex;
   flex-direction:column;
   justify-content:space-around;
   align-items:space-around;
}

#credits a {
   color:cadetblue;
}

.middle {
   display:flex;
   flex-direction: column;
}

#stats {
   background-color:black;
   color:white;
   padding:20px;
}

.notes {
   display:flex;
   flex-direction:row;
   align-items:space-evenly;
   justify-content:space-evenly;
}
.headings {
   display:flex;
   flex-direction:row;
   align-items:center;
   justify-content:space-around;
   margin-bottom:3px;
}

.gameH2 {
   font-size: 2.2em;
   color:black;
}

.todo {
   width: 600px;
   display:flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
}

.doing {
   width: 480px;
   display:flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
   border-right: 3px solid black;
   border-left: 3px solid black;

}

.done {
   width: 600px;
   display:flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
}

.task {
   border: 2px solid rgb(245, 195, 30);
   border-radius: 0% 10% 0% 10%;
   box-shadow: 8px 8px rgb(182, 142, 9);
   width: 120px;
   height: 72px;
   background-color: rgb(245, 195, 30);
   margin: 6px 4px;
   font: 11px solid black;
   font-family: 'Architects Daughter';
   font-weight: bold;
   display:flex;
   flex-direction: column;
   justify-content:space-around;
   align-items:center;
   color:black;
}

.task:hover {
   border: 2px solid rgb(0, 0, 0);
   background-color:gray;
   display:flex;
   flex-direction: column;
   justify-content:space-around;
   align-items:center;
   color:white;
}

.name {
   margin:2px;
   color:black;
}

.complete {
   margin:1px;
}

.complete:hover {
   background-color:green;
}

.incomplete {
   color: yellow;
}

.bottom {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items:center;
}

.bottomDiv {
   color:white;
   width:800px;
   height:360px;
   background-color:black;
   border: 2px solid rgb(182, 142, 9);
   margin:3px;
   display:flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
}

.footerControls {
   color:white;
   width:600px;
   height:80px;
   background-color:black;
   border-top: 2px solid rgb(182, 142, 9);
   display:flex;
   margin-top:10px;
   justify-content: space-around;
   align-items:center;
   flex-direction: row;
   flex-wrap: wrap;
}

.bottomDivButton {
   color:white;
   width: 100px;
   height:60px;
   background-color:#91a3cf;
   font-size: 14px;
}

.bottomDivButton:hover {
   background-color:gray;
}

.employee {
   color:#91a3cf;
   width:180px;
   height:200px;
   margin: 2px;
   background-color:#91a3cf;   ;
   display:flex;
   justify-content:space-evenly;
   align-items:center;
   flex-direction:column;
   font-size:32px;
}

.employee:hover {
   color:#91a3cf;
   width:180px;
   height:200px;
   margin: 2px;
   background-color:#91a3cf;
   display:flex;
   justify-content:space-evenly;
   align-items:center;
   flex-direction:column;
   font-size:32px;
}


.hidden {
   display:none;
}

select {
   max-width:7em;
}

.callMeeting {
   background-color: green;
}

.endMeeting {
   background-color: green;
}


.disabled {
   background-color: grey;
}


.flex-row {
   display:flex;
   flex-direction:row;
   justify-content:space-around;
   align-items:center;
}

.stickynote {
   padding: 5px;
   display:flex;
   flex-direction:row;
   justify-content:space-around;
   align-items:center;

}

.stickynote > i {
  font-size:1.4em;
}

.doing > div {
   width: 300px;
   height:145px;
}


.winDiv {
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
   min-height:800px;
   background-color:white;
}

.winH1 {
   font-size:5em;
   color:goldenrod;
}

.winP {
   font-size:2em;
   color:black;
   margin:0em 10em;
}

.instructions {
   font-size:1.2em;
   color:black;
   background-color:goldenrod;
   padding:3em;
   margin:4em;
   letter-spacing:0.02em;
   line-height:1.2em;
}

img {
   width:auto;
   height:100px;
   border-radius: 5%;
}

div.employeeDetails {
   width:1/2;
   height:1/3;
}

img.doingImage {
   border-radius:15%;
   width: 80px;
   height: 70px;
}

.employeeDoing {
   padding: 2px 8px;
   background-color: #91a3cf;
   display:grid;
   grid-template-columns: 1fr 2fr;
   justify-items:center;
   align-items:center;
}

.employeeBio {
   display:flex;
   flex-direction: column;
   justify-content:center;
   align-items:center;
}

#credits {
   margin-top:5em;
   padding:5em;
}